<%= render 'users/user',user: @user,book: @book %>

      <div class="col-md-8 offset-md-1">
        <h2>Users</h2>

        <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <% @users.each do |user| %>
                <tr>

                  <td>
                    <%= link_to user_path(user.id) do %>
                    <%= attachment_image_tag user, :profile_image,format: 'jpeg', fallback: "no_image.jpg",size: '40x40' %>
                    <% end %>
                    </td>
                  <td><%= user.name %></td>
                  <td><%= link_to "Show",user_path(user.id) %></td>

                </tr>
              <% end %>

            </tbody>
        </table>
      </div>
</div>